pillow
imutils
pandas
scikit-learn
scipy
scikit-image
seaborn
PyYAML
XlsxWriter
termcolor
statsmodels
ruamel-yaml
numba
nltk 
matplotlib
Markdown
imageio
fuzzywuzzy
ipython
ipywidgets
notebook
nbformat
nbconvert
jupyter
jupyter_contrib_nbextensions
widgetsnbextension
